In [8]:
#Se importan las librerias necesarias
import pandas as pd
import numpy as np

# Crea el df vacio
columnas = ['Temperatura', 'Humedad', 'CO', 'Alcohol', 'CO2', 'Tolueno', 'NH4', 'Acetona', 'CA']
Dataset_aire = pd.DataFrame(columns=columnas)

Dataset_aire

Empty DataFrame
Columns: [Temperatura, Humedad, CO, Alcohol, CO2, Tolueno, NH4, Acetona, CA]
Index: []

In [11]:
#Se llena el dataset con datos aleatorios teniendo en cuenta valores estudiados para los quimicos y pruebas previamente realizadas
# Generar datos aleatorios que se quieren crear
num_datos = 1000

# Se generan datos aleatorios con porcentajes modificados para cada columna
#--------------------------Temperatura---------------------------------------
rango_temperatura_1 = np.random.uniform(14, 25, int(num_datos * 0.9))
rango_temperatura_2 = np.random.uniform(25, 35, int(num_datos * 0.1))
#Se juntan los valores
temperatura = np.concatenate((rango_temperatura_1, rango_temperatura_2))
#Se mezclan los valores
np.random.shuffle(temperatura)
#Se asignan a la clumna deseada
Dataset_aire['Temperatura'] = temperatura

#--------------------------Humedad---------------------------------------
rango_humedad_1 = np.random.uniform(14, 25, int(num_datos * 0.9))
rango_humedad_2 = np.random.uniform(25, 35, int(num_datos * 0.1))
#Se juntan los valores
humedad = np.concatenate((rango_humedad_1, rango_humedad_2))
#Se mezclan los valores
np.random.shuffle(humedad)
#Se asignan a la clumna deseada
Dataset_aire['Humedad'] = humedad

#--------------------------CO---------------------------------------
rango_CO_1 = np.random.uniform(3, 100, int(num_datos * 0.9))
rango_CO_2 = np.random.uniform(0, 10000, int(num_datos * 0.1))
#Se juntan los valores
CO = np.concatenate((rango_CO_1, rango_CO_2))
#Se mezclan los valores
np.random.shuffle(CO)
#Se asignan a la clumna deseada
Dataset_aire['CO'] = CO

#--------------------------Alcohol---------------------------------------
rango_Alcohol_1 = np.random.uniform(1, 20, int(num_datos * 0.9))
rango_Alcohol_2 = np.random.uniform(0, 1000, int(num_datos * 0.1))
#Se juntan los valores
Alcohol = np.concatenate((rango_Alcohol_1, rango_Alcohol_2))
#Se mezclan los valores
np.random.shuffle(Alcohol)
#Se asignan a la clumna deseada
Dataset_aire['Alcohol'] = Alcohol

#--------------------------CO2---------------------------------------
rango_CO2_1 = np.random.uniform(400, 450, int(num_datos * 0.9))
rango_CO2_2 = np.random.uniform(400, 2000, int(num_datos * 0.1))
#Se juntan los valores
CO2 = np.concatenate((rango_CO2_1, rango_CO2_2))
#Se mezclan los valores
np.random.shuffle(CO2)
#Se asignan a la clumna deseada
Dataset_aire['CO2'] = CO2

#--------------------------Tolueno---------------------------------------
rango_Tolueno_1 = np.random.uniform(0, 20, int(num_datos * 0.9))
rango_Tolueno_2 = np.random.uniform(0, 500, int(num_datos * 0.1))
#Se juntan los valores
Tolueno = np.concatenate((rango_Tolueno_1, rango_Tolueno_2))
#Se mezclan los valores
np.random.shuffle(Tolueno)
#Se asignan a la clumna deseada
Dataset_aire['Tolueno'] = Tolueno

#--------------------------NH4---------------------------------------
rango_NH4_1 = np.random.uniform(4, 60, int(num_datos * 0.9))
rango_NH4_2 = np.random.uniform(4, 500, int(num_datos * 0.1))
#Se juntan los valores
NH4 = np.concatenate((rango_NH4_1, rango_NH4_2))
#Se mezclan los valores
np.random.shuffle(NH4)
#Se asignan a la clumna deseada
Dataset_aire['NH4'] = NH4

#--------------------------Acetona---------------------------------------
rango_Acetona_1 = np.random.uniform(0, 20, int(num_datos * 0.9))
rango_Acetona_2 = np.random.uniform(0, 300, int(num_datos * 0.1))
#Se juntan los valores
Acetona = np.concatenate((rango_Acetona_1, rango_Acetona_2))
#Se mezclan los valores
np.random.shuffle(Acetona)
#Se asignan a la clumna deseada
Dataset_aire['Acetona'] = Acetona

Dataset_aire

,Temperatura,Humedad,CO,Alcohol,CO2,Tolueno,NH4,Acetona,CA
0,14.611800,22.131592,12.296472,2.522735,421.543300,1.621579,52.487828,4.607117,1
1,18.519820,19.103874,9658.416205,13.150118,422.838526,10.349640,26.691450,5.077657,0
2,15.563835,33.951848,13.980299,8.803810,411.804105,0.060146,48.879520,14.119480,0
3,17.761360,20.902136,38.930775,12.709116,714.217364,2.108539,10.143965,101.595776,1
4,24.691660,20.737779,30.248191,5.322664,405.522656,8.334150,16.320839,8.840903,0
...,...,...,...,...,...,...,...,...,...
995,22.722238,18.725690,28.579960,6.082595,411.430264,7.268428,46.885748,0.701979,0
996,15.386553,32.181552,45.362407,19.886013,405.875592,4.507863,45.494615,6.456498,0
997,22.142074,24.189410,13.354784,9.487737,418.089641,6.622369,17.937105,1.162761,0
998,18.692303,18.868486,2604.071689,10.828744,438.876108,1.870606,161.085244,5.002330,0
999,19.896697,22.032039,25.903704,18.240608,447.504610,17.700180,51.278765,7.303579,0

In [12]:
#Se definen los parametros para llenar la ultima columna CA se pondra en 0
#Cuando no haya ningun valor que afecte la calidad del aire y en 1 cuando lo haya

# Definir una función para asignar valores a la columna AC
def asignar_valor(row):
    if row['CO'] > 100 or row['Alcohol'] > 20 or row['CO2'] > 450 or row['Tolueno'] > 20 or row['NH4'] > 60 or row['Acetona'] > 20:
        return 1
    else:
        return 0

# Aplicar la función a cada fila del dataset para generar los valores de la columna AC
Dataset_aire['CA'] = Dataset_aire.apply(asignar_valor, axis=1)

Dataset_aire

,Temperatura,Humedad,CO,Alcohol,CO2,Tolueno,NH4,Acetona,CA
0,14.611800,22.131592,12.296472,2.522735,421.543300,1.621579,52.487828,4.607117,0
1,18.519820,19.103874,9658.416205,13.150118,422.838526,10.349640,26.691450,5.077657,1
2,15.563835,33.951848,13.980299,8.803810,411.804105,0.060146,48.879520,14.119480,0
3,17.761360,20.902136,38.930775,12.709116,714.217364,2.108539,10.143965,101.595776,1
4,24.691660,20.737779,30.248191,5.322664,405.522656,8.334150,16.320839,8.840903,0
...,...,...,...,...,...,...,...,...,...
995,22.722238,18.725690,28.579960,6.082595,411.430264,7.268428,46.885748,0.701979,0
996,15.386553,32.181552,45.362407,19.886013,405.875592,4.507863,45.494615,6.456498,0
997,22.142074,24.189410,13.354784,9.487737,418.089641,6.622369,17.937105,1.162761,0
998,18.692303,18.868486,2604.071689,10.828744,438.876108,1.870606,161.085244,5.002330,1
999,19.896697,22.032039,25.903704,18.240608,447.504610,17.700180,51.278765,7.303579,0

In [13]:
#OPCIONAL DAÑO DHT11
columnas_eliminar = ['Temperatura', 'Humedad']
ds_air = Dataset_aire.drop(columns=columnas_eliminar)
ds_air

              CO    Alcohol         CO2    Tolueno         NH4     Acetona  CA
0      12.296472   2.522735  421.543300   1.621579   52.487828    4.607117   0
1    9658.416205  13.150118  422.838526  10.349640   26.691450    5.077657   1
2      13.980299   8.803810  411.804105   0.060146   48.879520   14.119480   0
3      38.930775  12.709116  714.217364   2.108539   10.143965  101.595776   1
4      30.248191   5.322664  405.522656   8.334150   16.320839    8.840903   0
..           ...        ...         ...        ...         ...         ...  ..
995    28.579960   6.082595  411.430264   7.268428   46.885748    0.701979   0
996    45.362407  19.886013  405.875592   4.507863   45.494615    6.456498   0
997    13.354784   9.487737  418.089641   6.622369   17.937105    1.162761   0
998  2604.071689  10.828744  438.876108   1.870606  161.085244    5.002330   1
999    25.903704  18.240608  447.504610  17.700180   51.278765    7.303579   0

[1000 rows x 7 columns]

In [14]:
#Paso los archivos a .csv
nombre_archivo = 'ds_air.csv'
ds_air.to_csv(nombre_archivo, index=False)

In [15]:
#Se descarga el archivo
from google.colab import files
files.download(nombre_archivo)